# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sdf
Debug/EntityComponentSystem.ilk
*.pdb
Debug/EntityComponentSystem.exe
*.sdf
*.obj
EntityComponentSystem/Debug/EntityCo.A67C50B5.tlog/cl.command.1.tlog
*.pdb
*.tlog
*.exe
*.ilk
EntityComponentSystem.opensdf
*.sdf
EntityComponentSystem.v12.suo
*.obj
EntityComponentSystem/Debug/EntityCo.A67C50B5.tlog/CL.write.1.tlog
*.ilk
*.tlog
